.Invoice {
    background-color: white;
    padding: 30px;
    margin-top: 30px;
}

.Thank-you {
    text-align: center;
    background-color: lightblue;
    padding: 30px;
    /* margin-top: 10px; */
}

.Thank-you button {
    width: 70px;
    cursor: pointer;
}